<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>
	<connectionStrings>
		<add name="ABC_8386" providerName="System.Data.SqlClient" connectionString="Data Source=118.70.81.95,58386;Network Library=DBMSSOCN;Initial Catalog=GETINVOICE;User ID=TruongPx@2283;Password=TruongPx-Abc@@2283;" />
		<add name="ABCGroup_8888" providerName="System.Data.SqlClient" connectionString="Data Source=118.70.81.95,58386;Network Library=DBMSSOCN;Initial Catalog=GETINVOICE;User ID=TruongPx@2283;Password=TruongPx-Abc@@2283;" />
	</connectionStrings>
	<appSettings>
		<add key="Upload_Path" value="C:\Users\truon\Desktop\testGetinvoice\XML" />
		<add key="ClientInfo" value="Resources\FileGmail\client_secret.json" />
		<add key="CredentialsInfo" value="Resources\FileGmail" /> 
	</appSettings>
 
</configuration>
