<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Email" version="23.6.0" targetFramework="net452" />
  <package id="Google.Apis" version="1.61.0" targetFramework="net452" />
  <package id="Google.Apis.Auth" version="1.61.0" targetFramework="net452" />
  <package id="Google.Apis.Core" version="1.61.0" targetFramework="net452" />
  <package id="Google.Apis.Gmail.v1" version="1.61.0.3105" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net452" />
</packages>